name: Continuous Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup CML
        uses: iterative/setup-cml@v2

      - name: Install dependencies
        run: make install

      - name: Train model
        run: make train

      - name: Evaluation and CML report
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make eval

      - name: Update Branch (commit trained model + results)
        if: ${{ github.ref == 'refs/heads/main' }}
        env:
          USER_NAME: ${{ secrets.USER_NAME }}
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
        run: |
          make update-branch USER_NAME=$USER_NAME USER_EMAIL=$USER_EMAIL
